/* contenu de la page */
#main_content {
    text-align: center;
    width: 80%;
    padding: 8% 0 10vh 0;
}

/* texte "Présentation" */
h2 {
    align-self: center;
    font-size: 250%;
    margin-bottom: 4%;
    background-color: rgba(255,255,255, 0.4);
    width: 100%;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1% 0 1% 0;
}

/* texte de présentation */
#main_content p {
    width: 100%;
    align-self: center;
    font-size: 120%;
}

/* toutes les listes */
ul {
    list-style: none;
}

/* liste contenant les 3 catégories */
#containers {
    padding-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    width: 100%;
}

/* chaque catégorie (LEGO, Pokémon, Autres) */
.container {
    width: 20%;
    height: fit-content;
    text-align: center;
    background-color: rgba(255,255,255, 0.4);
    padding: 1%;
    border-radius: 10px;
    border: 1px solid black;
}

/* le titre de chaque catégorie */
h4 {
    font-size: 150%;
    font-weight: bold;
}

/* tous les liens */
a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

/* quand la souris touche un lien */
a:hover {
    color: rgba(228,184,44);
    cursor: pointer;
}

/* les sous-menus */
.links {
    margin-top: 4%;
    padding-top: 2%;
    border-top: 1px solid black;
}

/* contenu des sous-menus */
.links li {
    font-size: 100%;
    text-align: start;
    padding: 1% 0 1% 0;
}

/* contenu des sous-menus masqué (cf. index.js) */
.hide {
    display: none;
}

/* contenu des sous-menus visible (cf. index.js) */
.visible {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* les boutons (Jeu de l'aventurier, Jouer, Fermer) */
button {
    align-self: center;
    height: fit-content;
    min-width: 10vw;
    width: 15vw;
    padding: 8px;
    border-radius: 10px;
    font-size: 150%;
    font-weight: bold;
    transition: 0.3s;
}

/* bouton Jeu de l'aventurier */
#jeuDeLaventurier {
    padding: 1% 2%;
    width: fit-content;
    background-color: rgba(128, 0, 0, 0.4);
    border: 1px solid red;
}

/* Survol du Jeu de l'aventurier (écrase le "Survol des boutons") */
#jeuDeLaventurier:hover {
    color: rgb(112, 4, 4);
}

/* Marge pour #jeuDeLaventurier quand une liste est étendue (cf. index.js) */
.mt10 {
    margin-top: 10vh;
}

/* Marge pour #jeuDeLaventurier quand aucune liste n'est étendue (cf. index.js) */
.mt20 {
    margin-top: 20vh;
}

/* popup */
#popup {
    width: 98%;
    height: 95vh;
    margin: 1vh 0;
    padding: 0;
    border: none;
    background: transparent;
}

/* Change les règles par défaut des <dialog> */
dialog:-internal-dialog-in-top-layer {
    max-width: none;
    max-height: 98vh;
}

/* floute le reste de l'écran quand le popup est visible */
#popup::backdrop {
    background: rgb(0 0 0 / 25%);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

/* popup, aussi */
.popupContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ligne pour l'aventurier et son texte */
.adventurerRow {
    display: flex;
    flex-direction: row;
    width: 98%;
    height: 90%;
    align-self: flex-end;
    justify-content: space-between;
}

/* Image de l'aventurier */
.adventurerRow img {
    object-fit: contain;
}

/* Ligne pour les boutons Jouer et Fermer */
.buttonsRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;   
}

/* boutons Jouer et Fermer */
.buttonsRow a, .buttonsRow button {
    min-width: fit-content;
}

/* bulle de dialogue */
.dialogue {
    position: relative;
    display: inline-block;
    padding: 2%;
    background: rgba(192, 192, 192, 1);
    border: 3px solid #222;
    border-radius: 25px;
}

/* Queue de la bulle de dialogue */
.dialogue::before {
    content: "";
    position: absolute;

    width: 0;
    height: 0;
    left: -8px;
    top: -8px;

    border-left: 15px solid #c0e71200;
    border-right: 15px solid #e7121200;
    border-top: 25px solid #4012e700;
    border-bottom: 25px solid #222;

    transform: translateY(-50%) translateX(-50%) rotate(-45deg);
    z-index: -1;
}

/* Petits écrans */
@media only screen and (max-width:750px) {

    /* liste contenant les 3 catégories */
    #containers {
        flex-direction: column;
        align-items: center;
        gap: 10vh;
    }

    /* chaque catégorie (LEGO, Pokémon, Autres) */
    .container {
        width: 60%;
    }

    /* Marge pour #jeuDeLaventurier quand aucune liste n'est étendue (cf. index.js) */
    .mt20 {
        margin-top: 15vh;
    }

    /* boutons Jouer et Fermer */
    .buttonsRow a, .buttonsRow button {
        width: 20vw;
    }

    /* Image de l'aventurier */
    .adventurerRow img {
        max-height: 75vh;
    }

}

@media only screen and (max-width:500px)  {

    /* chaque catégorie (LEGO, Pokémon, Autres) */
    .container {
        width: 75%;
    }

    /* texte "Présentation" */
    h2 {
        font-size: 200%;
    }

    /* texte de présentation */
    #main_content p {
        font-size: 100%;
    }

    /* popup */
    #popup {
        min-height: 98vh;
        height: fit-content;
    }

    /* ligne pour l'aventurier et son texte */
    .adventurerRow {
        width: 90%;
        flex-direction: column;
        align-self: center;
        margin-bottom: 5vh;
    }

    /* Image de l'aventurier */
    .adventurerRow img {
        object-fit: contain;
        max-height: 50vh;
    }

    /* Queue de la bulle de dialogue */
    .dialogue::before {
        left: 50%;
        top: -18px;
        border-bottom: 25px solid #222;
        transform: translateY(-50%) translateX(-50%);
    }

    /* les boutons (Jeu de l'aventurier, Jouer, Fermer) */
    button {
        font-size: larger;
    }

    /* boutons Jouer et Fermer */
    .buttonsRow a, .buttonsRow button {
        width: 30vw;
    }

}
